/* Base Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
/* Homepage */
#homepage{
    background-image: url('../images/background2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header, #footer {
    font-size: 1rem;
    text-decoration: none;
    background-color:rgba(0, 0, 0, 0.2) !important;
}
#footer {
    font-size: 1rem;
    text-decoration: none;
    background-color:rgba(0, 0, 0, 0.3) !important;
}
    #footer #social-icons > li{
        font-size: 1.3em;
    
    }
    #footer #copyright ul{
        display: flex;
        flex-direction: column;

    }
#main{
    flex-grow: 1;
}

   
@media(min-width : 992px){
    /* Show dropdown menu on hover */
    #header .nav-item.dropdown:hover > .dropdown-menu{
        display: block;
        background-color:rgba(0, 0, 0, 0.15) !important;
        

    }
     #header .nav-item.dropdown .dropdown-menu > li a{
        background-color:rgba(0, 0, 0, 0.15) !important;
        border-bottom: 1px solid #d3c8c8;
        
         
    }
    .nav-item.dropdown > a{
        pointer-events: auto;
    }
   

}



/* About page Styling */
#custompage{
    background-image: url('../images/smooth-dark-blue.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

#about-section{
    background-image: url('../images/background1.jpg');
    background-color: rgba(0, 0, 0, 0.25);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 30vh;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    z-index: 21;
    color:white;
    padding-top:  6em;
    padding-bottom: 2em;
    
}   
    #about-section .content-cover{
        margin: 0 auto;
        max-width: 1200px;
        padding: 20px;
        text-align: justify;
        line-height: 2;
    }

    #about-section .content-cover h3{
        font-size: 2em;
        margin-bottom: 0.5em;
        text-align: center;
    }
    #about-section p{
        font-size: 1.2em;
        margin: 0.5em 0 0 0;
        text-align: left;
    }

    .container-button{
        background-color: #bec2cf;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1000;
        width: 100%;
        margin: 0 auto;
        margin-top: 3em;
        
        
    }
    .container-button .btn > a{
        text-decoration: none;
        font-size: large;
        font: bold;
        color: black;
    }

    .container .content{
    color: #ffffff;
   
    padding: 10px;
    border-radius: 8px ;
    }
   .container .content::before {
    content: "";
    display: block;
    height: 130px; /* Match sticky header height */
    margin-top: -80px;
    visibility: hidden;
    }
    .container .job-card{
        margin-bottom: 20px;
        border-left: 5px solid #cae0ac;
        padding: 20px;
        border-radius: 6px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    }
     .container .work-card {
                border-left: 5px solid #ccb809;
                padding: 20px;
                margin-bottom: 20px;
                border-radius: 6px;
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
                
            }
      .container  .edu-item{
            margin-bottom: 20px;
            border-left: 5px solid #98dbd0;
            padding: 20px;
            
            border-radius: 6px;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        }

    
        .job-card, .work-card, .edu-item h4 {
        margin:5px 0;
        font-size: 1.3rem;
        color: #fff;
        }

        .job-card, .work-card, .edu-item h6 {
        margin: 5px 0;
        font-weight: normal;
        color: #f3f3f3;
        }

        .job-card, .work-card, .edu-item p {
        font-size: 0.95rem;
        color: #fff;
        }

        .job-card, .work-card, .edu-item ul {
        margin: 10px 0 0 20px;
        padding: 0;
        list-style-type: disc;
        }

        .job-card,  .work-card, .edu-item ul li {
        margin-bottom: 8px;
        line-height: 1.5;
        }
        



  /* Portfolio Project display  */
 
.project-card-sm{
    border: none;
    border-radius: 12px;
    overflow: hidden;
    background-color:white ;
}
.project-card-img{
    height: 180px;
    background-size: cover;
    background-position: center;
    
    }
.project-card-sm .card-body{
    padding: 1rem;
    min-height: 160px;
}